@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images_site/coffeecup-50opacity.png);
	background-repeat: no-repeat;
	background-attachment:local;
	background-position: 50% 80px;
}

main {
	padding: 15px;
	font-family: Georgia, Constantia, "Lucida Bright", "DejaVu Serif", "serif";
	font-size: 22px;
	text-align: center;
}

ul {
	font-size: 15px;
	font-family: Candara, Corbel, "Doppio One", Dosis, Gadugi, "sans-serif";
	list-style-position: inside;
}

h2 {
	font-family: "Futura Condensed Extra", Impact, "Source Sans Pro", "Tw Cen MT", "sans-serif";
}

footer {
	clear: both;
	padding-top: 35px;
}

.coffeeinfo {
	text-indent: 20px;
	list-style-type: circle;
	line-height: 1.5em;
}

#space {
	clear: both;
	height: 50px;
}

.toptext {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

/*Mobile View*/

@media screen and (max-device-width: 767px){

	.col1 {
		margin-bottom: 30px;
	}
	
	.col2 {
		margin-bottom: 30px;
	}
	
	.table1coffee {
		display: none;
	}
	
	
}

/*Tablet View*/

@media screen and (min-device-width: 768px){
	
	body {
		max-width: 778px;
		background-position: 50% 20px;
		
	}
		
	.table1coffee {
		display: none;
	}
	
	
	.col1 {
		margin-bottom: 30px;
	}
	
	.col2 {
		margin-bottom: 30px;
	}
	
	
}


/*Desktop View*/

@media screen and (min-width: 1024px){
	
	.columns {
		display: none;
	}
	
	.table1coffee {
		display: table;
	}
	
	body {
		background-position: 90% 30px;
		background-attachment: scroll;
	}
	

	.coffeeinfo {
		text-align: center;
	}
	
	footer {
		padding-top: 75px;
	}
		
}