@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images_site/coffeecup-50opacity.png);
	background-repeat: no-repeat;
	background-attachment:local;
	background-position: 50% 80px;
}

main {
	padding: 15px;
	clear: both;
	font-family: Georgia, Constantia, "Lucida Bright", "DejaVu Serif", "serif";
	font-size: 22pt;
}

ul {
	font-size: 15px;
	font-family: Candara, Corbel, "Doppio One", Dosis, Gadugi, "sans-serif";
	list-style-position: inside;
}

h2 {
	font-family: "Futura Condensed Extra", Impact, "Source Sans Pro", "Tw Cen MT", "sans-serif";
}

footer {
	clear: both;
	padding-top: 35px;
}

.coffeeinfo {
	text-indent: 20px;
	list-style-type: circle;
	line-height: 1.5em;
}



/*Mobile View*/

@media (max-width: 767px){

	.col1 {
		margin-bottom: 30px;
	}
	
	main {
		text-align: center;
	}
	
}

/*Tablet View*/

@media (min-width: 768px){
	
	body {
		max-width: 778px;
		background-position: 50% 20px;
		
	}
		
	.col1 {
		width: 50%;
		float: left;
		padding-left: 10px;
	}
	
	.col2 {
		width: 50%;
		float: right;
	}
	
	.toptext p {
		text-align: center;
	}
}


/*Desktop View*/

@media (min-width: 1024px){
	
	.col1 {
		clear: left;
		float: left;
		width: 50%;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	
	.col2 {
		clear: left;
		float: left;
		width: 50%;
	}
	
	
	body {
		background-position: 90% 30px;
		background-attachment: scroll;
	}
	
	.toptext {
		float: right;
		margin-top: 130px;
		width: 40%;
	}
	
	.coffeeinfo {
		text-align: left;
	}
	
	footer {
		padding-top: 75px;
	}
		
	}