@charset "utf-8";
@import url("about.css");
/* CSS Document */

html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:Candara, Corbel, "Doppio One", Dosis, Gadugi, "sans-serif";
}

header {
	padding: 10px;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

body {
	margin-left: auto;
	margin-right: auto;
}

footer {
	text-align: center;
	padding: 10px;
}

.logofooter {
	width: 80px;
	height: 45px;
}

.footer-text {
	font-size: 12px;
	margin-top: 30px;
	text-align: center;
}

.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.styles-logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 250px;
}

.style-nav ul {
	list-style-type: none;
}

.style-nav ul li a {
	text-decoration: none;
	color:#000000;
	text-align: center;
	display: block;
	padding: 8px;
	font-family:Gabriola, "AR BERKLEY", Cookie, "Segoe Script", Yellowtail, Script;
	font-size: 25px;
}

h2 {
	font-size: 40px;
	text-transform:uppercase;
	font-weight: 200;
	margin-bottom: 15px;
}

p {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
	text-align: center;
}

.info-box-brown {
	background-color:#986533;
	color: #FFFFFF;
	text-align: center;
	padding: 20px 10px 30px;
}

.info-box-black {
	background-color:#323232;
	color: #FFFFFF;
	text-align: center;
	padding: 20px 10px 30px;
}

.button {
	border: 2px solid #FFFFFF;
	padding: 8px 30px;
	border-radius: 20px;
	text-decoration: none;
}

/*Button Read More link*/
.readmore a:link {
	color: #FFFFFF;
}

.readmore a:active {
	color: #FFFFFF;
}

.readmore a:visited {
	color: #FFFFFF;
}

.readmore a:hover {
	color:#5E0507;
}


.col {
	width: 100%;
}

.ttlogo {
	width: 150px;
	height: 150px;
}

body {
	background-image: none;
}


/*Tablet View*/

@media (min-width: 768px){
	
	body {
		max-width: 778px;
	}
	
	.img-height-fixed {
		width: auto;
		height: 235px;
		max-width: 100%;
		vertical-align: middle;
		text-align: center;
}
	
	.style-nav ul li {
		display: inline-block;
	}
	
	.style-nav ul {
		text-align: center;
	}
	
	.col-md-one-half {
		width: 50%;
	}
	
	.col {
		float: left;
		padding: 0px 7px 14px;
	}
	
	.col-lg-one-fourth {
		width: 25%;
	}
	
	.img-height-fixed {
		width: auto;
		height: 175px;
	}
	
	.img-inrow3 {
		width: 100%;
	}
	
	.img-inrow2 {
		width: 100%;
	}
}


/*Desktop View*/

@media (min-width: 1024px){
	
		
	.styles-logo {
		float:left;
	}
	
	.style-nav {
		float: right;
	}
	
	.col-lg-one-fourth {
		width: 25%;
	}
	
	.img-height-fixed {
		width: auto;
		height: 175px;
	}
	
	.img-inrow3 {
		width: 100%;
	}
	
	.img-inrow2 {
		width: 100%;
	}
}
